DATABASE_URL=postgresql://postgres:C@rj1mL@bs$2026$@localhost:5432/carjim_labs
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=8h
ADMIN_EMAIL=admin@carjimlabs.com
ADMIN_PASSWORD=ChangeMe123!
ADMIN_NAME=Admin
